  <div class="form_container bg-white m-5 mx-auto p-3 w-50">
    <%= form_with model: @task,local: true do | f | %>
    <%= render "/layouts/error_messages", model: f.object %>

    <div class="form-group">
      <%= f.label "タイトル",class: "fw-bold" %>
      <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
    </div>

    <div class="form-group grid gap-0 column-gap-3">
      <div class="start-form d-flex flex-column">
      <%= f.label "開始日",class: "fw-bold" %>
      <%= f.date_field :start_at, class:"p-2 g-col-6 border border-black border-opacity-10 rounded" %>
      </div>
      <div class="end-form d-flex flex-column">
      <%= f.label "終了日",class: "fw-bold" %>
      <%= f.date_field :end_at, class:"p-2 g-col-6 border border-black border-opacity-10 rounded"  %>
      </div>
    </div>
    <div class="form-group mb-2">
      <%= f.check_box :is_all_day,{},"true","false"%>
      <%= f.label "終日の場合はチェックを入れます" %>

    </div>
    <div class="form-group d-flex flex-column">
      <%= f.label "スケジュールメモ",class: "fw-bold" %>
      <%= f.text_area :memo, placeholder: "メモを入力する", class: "form-control", rows: 5 %>
    </div>    
    <div class="d-flex justify-content-end mt-2">
      <%= f.submit :"保存", class: "btn btn-primary p-2" %>
      <% end %>
      
      <%= link_to "キャンセル", tasks_path, class: "btn btn-secondary ms-2" %>
    </div>
    
    
  </div>    